pipeline/child_load_pipeline.json
{
	"name": "child_load_pipeline",
	"properties": {
		"description": "Hello from NDC Sydney!!!",
		"activities": [
			{
				"name": "ForEach1_child",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureDataLakeStoreReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Source_ADLS_DS",
									"type": "DatasetReference",
									"parameters": {
										"FolderPath": {
											"value": "@pipeline().parameters.SourceStore_Location",
											"type": "Expression"
										},
										"Directory": {
											"value": "@pipeline().parameters.SourceStore_Directory",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Target_BLOB_DS",
									"type": "DatasetReference",
									"parameters": {
										"FolderPath": {
											"value": "@pipeline().parameters.TargetStore_Location",
											"type": "Expression"
										},
										"Directory": {
											"value": "@pipeline().parameters.TargetStore_Directory",
											"type": "Expression"
										},
										"filename": {
											"value": "*.csv",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[PROC_ETL_LOAD_STATUS]",
								"storedProcedureParameters": {
									"activityname": {
										"value": "",
										"type": "String"
									},
									"activitystatus": {
										"value": "",
										"type": "String"
									},
									"Createdon": {
										"value": "",
										"type": "DateTime"
									},
									"DataFactoryName": {
										"value": "",
										"type": "String"
									},
									"endtime": {
										"value": "",
										"type": "DateTime"
									},
									"ErrorMessage": {
										"value": "",
										"type": "String"
									},
									"PipelineName": {
										"value": "",
										"type": "String"
									},
									"readrows": {
										"value": "",
										"type": "String"
									},
									"runid": {
										"value": "",
										"type": "String"
									},
									"starttime": {
										"value": "",
										"type": "DateTime"
									},
									"writerows": {
										"value": "",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Metadata_SQLDB_LS",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Source_Folder_Metadata_DS",
						"type": "DatasetReference",
						"parameters": {
							"FolderPath": {
								"value": "@pipeline().parameters.SourceStore_Location",
								"type": "Expression"
							},
							"Directory": {
								"value": "@pipeline().parameters.SourceStore_Directory",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureDataLakeStoreReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childitems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type,'File')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"SourceStore_Location": {
				"type": "string"
			},
			"SourceStore_Directory": {
				"type": "string"
			},
			"TargetStore_Location": {
				"type": "string"
			},
			"TargetStore_Directory": {
				"type": "string"
			},
			"SourceFileneme": {
				"type": "string"
			},
			"TargetFilename": {
				"type": "string"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}